<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>タスク作成</title>
</head>
<body>
<h1>タスク作成</h1>
<div>
    <a th:href="@{/}">一覧</a>
</div>
<div>
    <form th:action="@{/tasks}" th:method="post">
        <div>
            <label for="titleInput">タイトル</label>
            <input type="text" id="titleInput" name="title">
        </div>
        <div>
            <label>ステータス</label>
            <label><input type="radio" name="status" value="TODO" checked>Todo</label>
            <label><input type="radio" name="status" value="DOING">Doing</label>
            <label><input type="radio" name="status" value="DONE">Done</label>
        </div>
        <div>
            <button type="submit">作成</button>
        </div>
    </form>
</div>
</body>
</html>