<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>タスク詳細</title>
</head>
<body>
<section layout:fragment="content">
    <a th:href="@{/tasks/{id}/editForm(id=${task.id})}" class="btn btn-primary">編集</a>
    <form th:action="@{/tasks/{id}(id=${task.id})}" th:method="DELETE" style="display: inline">
        <button type="submit" class="btn btn-danger" onclick="return confirm('タスクを削除しますか？')">削除</button>
    </form>
    <div class="mt-3" th:object="${task}">
        <h1 th:text="'#' + *{id} + ' ' + *{summary}"></h1>
        <pre th:text="*{description}"></pre>
    </div>
</section>
</body>
</html>
