<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>タスク一覧</title>
</head>
<body>
<section layout:fragment="content">
    <a th:href="@{/tasks/creationForm}" class="btn btn-primary">作成</a>
    <div class="mt-3">
        <form th:action="@{/tasks}" method="get">
            <div class="form-group">
                <label for="summaryQueryInput">概要</label>
                <input type="text" class="form-control" id="summaryQueryInput" placeholder="概要検索" name="summary">
            </div>
            <div class="form-group mt-3">
                <label>ステータス</label>
                <fieldset>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="statusTodoQueryInput" name="status" value="TODO">
                        <label class="form-check-label" for="statusTodoQueryInput">Todo</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="statusDoingQueryInput" name="status" value="DOING">
                        <label class="form-check-label" for="statusDoingQueryInput">Doing</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="statusDoneQueryInput" name="status" value="DONE">
                        <label class="form-check-label" for="statusDoneQueryInput">Done</label>
                    </div>
                </fieldset>
            </div>

            <button type="submit" class="btn btn-primary mt-3">検索</button>
        </form>
    </div>
    <table class="table mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>概要</th>
            <th>ステータス</th>
        </tr>
        </thead>
        <thead>
        <tr th:each="task : ${taskList}" th:object="${task}">
            <td><a th:href="@{/tasks/{id}(id=*{id})}" th:text="'#' + *{id}"></a></td>
            <td><a th:href="@{/tasks/{id}(id=*{id})}" th:text="*{summary}"></a></td>
            <td th:text="*{status}"></td>
        </tr>
        </thead>
    </table>
</section>
</body>
</html>