<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <title>タスク一覧</title>
</head>
<body>
<section layout:fragment="content">
  <a th:href="@{/tasks/creationForm}" class="btn btn-primary">作成</a>
  <table class="table mt-3">
    <thead>
    <tr>
      <th>ID</th>
      <th>概要</th>
      <th>ステータス</th>
    </tr>
    </thead>
    <thead>
    <tr th:each="task : ${taskList}" th:object="${task}">
      <td><a th:href="@{/tasks/{id}(id=*{id})}" th:text="'#' + *{id}"></a></td>
      <td><a th:href="@{/tasks/{id}(id=*{id})}" th:text="*{summary}"></a></td>
      <td th:text="*{status}"></td>
    </tr>
    </thead>
  </table>
</section>
</body>
</html>