<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO</title>
</head>
<body>
<h1>TODO</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>タイトル</th>
        <th>完了/未完了</th>
    </tr>
    </thead>
    <thead>
    <tr th:each="task : ${taskList}" th:object="${task}">
        <td th:text="*{id}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{isCompleted} ? '完了' : '未完了'"></td>
    </tr>
    </thead>
</table>
</body>
</html>